.img{
    box-sizing: border-box;
    position: absolute;
    top: 5vh;
    right: 100vh;
    width: 800px;
}
.hello1{
    position: absolute;
    color: black;
    left: 150vh;
    top: 20vh;
    font-size: 10vh;

}

#btnMainS{
    background-color: red;
    position: relative;
    left: 70vh;
    top: 65vh;
    border-radius: 50px;
    size: 10vh;
}

.shadow-lg{
    background-color: #f5f5ed;
}


